<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="bg-zinc-900 text-4xl text-white  flex-col gap-6 justify-center items-center h-screen">

    <a href="/profile" class="bg-clip-text text-transparent text-2xl bg-gradient-to-r from-purple-500 to-red-400"><i class="ri-id-card-fill"></i></a>
    <h1>post titled '<%= post.title %>' made by <%= user.username %> is deleted </h1>
    




    
</body>
</html>