<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center min-h-screen bg-zinc-900">

  <a href="/profile" class="text-yellow-500 text-3xl fixed top-4 right-4"><i class="ri-id-card-fill"></i></i></a>

  <div class="bg-zinc-800 p-8 shadow-md rounded-lg text-center">
    <h1 class="text-4xl  mb-4 bg-gradient-to-r from-purple-500 to-red-400 bg-clip-text text-transparent">Welcome!</h1>
    <p class="text-white text-2xl mb-6">Are you new here, or have you already registered?</p>
    <div class="flex flex-col gap-4">
      <a href="/register" class="bg-gradient-to-r from-purple-500 to-blue-400 text-2xl text-white py-2 px-4 rounded hover:bg-blue-600">
        Register
      </a>
      <a href="/login" class="bg-gradient-to-r from-purple-500 to-blue-400 text-2xl  text-white py-2 px-4 rounded hover:bg-gray-600">
        Login
      </a>
    </div>
  </div>

</body>
</html>
